/* Add Azeret Mono Font*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Header Section for Banner */
/* Start */

.banner-container{
    background-image: url(./assets/Hero-bg.png);
    max-width: 1440px;
    height: 652px;
}

.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-content button{
    background-color: #0D1321;
    color: rgb(255, 255, 255);
}

/* End */