/* Add Azeret Mono Font*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* For Body and All Section */

body{
    font-family: "Azeret Mono", monospace;
}

.nav-name{
    font-weight: 800;
    font-size: 28px;
    padding-left: 80px;
}

.nav-button{
    width: 244px;
    height: 57px;
    border-radius: 8px; 
    background-color: white;
    font-size: 20px;
}

.titles-color{
    color: rgb(13, 19, 33);
}

h3{
    font-weight: 800px;
    font-size: 32px;
    color: rgb(13, 19, 33);
}

/* Header Section for Banner */
/* Start */

/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 90px;
    max-width: 1440px;
}
/* End Nav Bar */

.banner-container{
    background-image: url(./assets/Hero-bg.png);
    max-width: 1440px;
    height: 652px;
    margin: auto;
    /* border: 2px solid red; */
    align-items: center;
    background-position:center;
    margin-bottom: 80px;
}


.banner-content{
    width: 998px;
    height: 528px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    /* margin-top: 26px;
    margin-bottom: 44px; */
    margin: 26px 221px 44px;
    /* border: 2px solid red; */
    margin: auto;
    align-items: center;
    text-align: center;
}

.banner-content button{
    background-color: #0D1321;
    color: rgb(255, 255, 255);
}

.banner-content heading{
    font-weight: 800px;
    font-size: 48px;
    font-weight: 800px;
    font-size: 48px;
}

.btn{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    font-weight: 600px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* End of Header*/

/* Start of Main Section */

/* Section 01 */

main section{
    max-width: 1140px;
    margin: auto;
}

.web-container-section{
    align-items: center;
    text-align: center;
    background-color: #FAFAFB;
    margin-bottom: 80px;
    /* border:200px solid black; */
}

.web-content{
    width: 946px;
    /* height: 1235px; */
    /* border: 2px solid;
    text-align: center; */
    margin: auto;
    padding: 80px 97px;
}

.web-dev-sub-section{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}

.sub-section1{
    text-align: left;
    padding: 48px;
    border: 16px;
    display: flex;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

.sub-section2{
    display: flex;
    text-align: left;
    padding: 48px;
    justify-content: space-between;
    border: 16px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

.sub-section3{
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 48px;
    border: 16px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}

.learn-more-web-dev-section{
    width: 150px;
    height: 50px;
}
/* End of Section 01 */

/* Section 02 */

.my-inspiration-container{
    max-width: 1140px;
    height: 775px;
    margin: auto;
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 80px;
}

.youtube-video{
    width: 1076px;
    height: 550px;
    margin: auto;
    border-radius: 8px;
    padding: 32px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}
/* End of Inspiration Section */

/* Section 03 */

.current-target-container{
    height: 460px;
    margin: auto;
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 80px;
}

.skills{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
}

.skill{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    border: 10px;
}
/* End of My Current Target Section */
/* Target Section */
.next-target-container{
    text-align: center;
    padding: 50px;
}

.target{
    display: flex;
    text-align: left;
    height: 139px;
    padding: 40px;
    gap: 60px;
    border-radius: 16px;
    border: 2px solid whitesmoke;
}

.target img{
    width: 94px;
    height: 84px;
}
/* End of Target */

/* Section 04 */

.support-container{
    height: 313px;
    max-width: 1140px;
    margin: auto;
    /* border: 2px solid red; */
    text-align: center;
    background-image: url(./assets/handshake.jpg);
    border-radius: 16px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
    /* padding: 64px 48px; */
}

.support-content{
    display: flex;
    margin: auto;
    height: 57px;
    width: 684px;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* padding: 10px; */
}

.get-suggession{
    width: 548px;
    height: 57px;
    background-color: white;
    border-radius: 8px;
    border: none;
}

.submit-option{
    width: 120px;
    height: 57px;
    background-color: white;
    border-radius: 8px;
    border: none;
    padding: 17px 20px 17px 20px;
}

/* Footer Section*/

footer{
    display: flex;
    justify-content: space-between;
    margin: 10px 150px;
    max-width: 1140px;
    text-align: center;
    margin: auto;
    background-color: #F8F8F8;
    padding: 0px 15px;
}

footer ul{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

/* .Developer-footer{
   font-weight: 600px;
   font-size: 20px;
} */

footer ul li{
    margin-right: 24px;
    list-style-type: none;

}

/* footer input[type="text"]{
    height: 548px;
    width: 57px;
} */

/* End of Assignment 01 */